<!DOCTYPE html>
<html>

<head>
  <title>Todo List</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <h1>Todo List</h1>

  <!-- Main Menu -->
  <div>
    <button id="btnCreate" onclick="createTodo()">Create Todo</button>
  </div>

  <!-- Get Todo List -->
  <div id="getTodoList" class="section">
    <h2>Todo List</h2>
    <div class="col-9" id="todoListContainer">
      <!-- Initially, an empty col-9 div -->
      <% if (todos.length===0) { %>
        <p>No todos available.</p>
        <% } else { %>
          <% todos.forEach(function(todo) { %>
            <div class="card my-2">
              <div class="card-body row">
                <div class="col-9">
                  <%= todo.name %>
                </div>
                <div class="col-3 text-right">
                  <form action="/todo/<%= todo.id %>" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                  <form action="/todo/<%= todo.id %>?_method=PUT" method="GET">
                    <button type="submit" class="btn btn-primary">Update</button>
                  </form>
                </div>
              </div>
            </div>
            <% }); %>
              <% } %>
    </div>
  </div>

  <script>
    // function fetchTodoList() {
    //     // Fetch the initial todo list on page load
    //     $.get('/todo', function (data) {
    //       // Update the todo list container with the initial data
    //       $('#todoListContainer').html(data);
    //     });
    //   }


    function createTodo() {
      const updatedText = prompt("enter todo:");
      if (updatedText !== null) {
        // Make an AJAX request to update the todo, then update the todo list container
        $.ajax({
          url: `/todo/new`,
          type: "PUT",
          data: { name: updatedText }
        });
      }
    }

    function updateTodo(todoId) {
      const updatedText = prompt("Update the todo:");
      if (updatedText !== null) {
        // Make an AJAX request to update the todo, then update the todo list container
        $.ajax({
          url: `/todo/${todoId}`,
          type: "PUT",
          data: { name: updatedText }
        });
      }
    }


    function deleteTodo(todoId) {
      if (confirm("Are you sure you want to delete this todo?")) {
        // Make an AJAX request to delete the todo, then update the todo list container
        $.ajax({
          url: `/todo/${todoId}`,
          type: "DELETE",
        });
      }
    }
  </script>
</body>

</html>