<style>
    .month-picker {
        padding: 5px 5px 5px 5px;
    }

    .month-picker td {
        width: 20px;
        height: 20px;
        padding: 5px 5px 5px 5px;
        cursor: default;
    }

    .month-picker td:hover {
        background-color: #dad8d8;
    }
</style>

<div style="border: 1px solid #b7b4b4; border-radius: 5px; display: none; position: absolute; background-color: #eae8e8"
     id="month-picker-container">
    <table class="month-picker">
        <tbody>
        <tr>
            <td class="month-name">Jan</td>
            <td class="month-name">Feb</td>
            <td class="month-name">Mar</td>
        </tr>
        <tr>
            <td class="month-name">Apr</td>
            <td class="month-name">May</td>
            <td class="month-name">Jun</td>
        </tr>
        <tr>
            <td class="month-name">Jul</td>
            <td class="month-name">Aug</td>
            <td class="month-name">Sep</td>
        </tr>
        <tr>
            <td class="month-name">Oct</td>
            <td class="month-name">Nov</td>
            <td class="month-name">Dec</td>
        </tr>
        </tbody>
    </table>
</div>