<!DOCTYPE html>
<html lang="en">

<head>
    <title>Calendar Events</title>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/css/calendar.css"/>
</head>

<body>
<%- include('navbar.ejs') %>
<div class="mycalendar--main--content">
    
    <!-- <div class="calendar--card--container"> -->
    <%- include('big-calendar.ejs') %>
    <!-- </div> -->
</div>
<div class="event--card--container">
    <div class="Today">
        <div class="ar">

        </div>
        <div class="en">

        </div>
    </div>
    <div class="planned--events">
        <ul class="task">
            <li class="planned-events-item hidden">
                <div class="planned-events-item-container">
                    <div class="planned-event-content">
                        <div class="task-name">
                            ksbgnsdkjgb <br>
                            affsafvadsfvadsfvadsfvcadsgvadg
                        </div>
                        <div class="task-time">
                            121213134213
                        </div>
                        <div class="task-description">
                            <div class="modal-arrow"></div>
                            <p class="task-description-text"><span style="color: #717272">No description</span></p>
                        </div>
                    </div>
                    <div class="delete-task-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                            <!--!
                            Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License -
                            https://fontawesome.com/license
                            (Commercial License) Copyright 2023 Fonticons,
                            Inc. -->
                            <path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0
                            64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96
                            64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2
                            16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/>
                        </svg>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<%- include("new-event-plan-modal.ejs") %>
<script src="/js/my-calendar.js"></script>

</body>

</html>